*.backup
crash.*.log
crash.log
*.csv.bak.*
*.env
*.key
*.log
*.p12
*.pem
*.pfx
.terraform/
.terraform.lock.hcl
terraform.tfvars*
!terraform.tfvars.example
tfplan*
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.xls
*.xlsx
